body {
  transition: background-color 0.3s, color 0.3s;
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}
.small-ad-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #808080; /* ??????? ?? ??? */
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
}

.small-ad-box a {
    display: block;
    color: #ffd700; /* ??? ??? ???? ??????? ???? ??? ??????? */
    text-decoration: none;
    margin-top: 4px;
    font-weight: bold;
}

