body {
  transition: background-color 0.3s, color 0.3s;
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

/* ???? ??????? ?? Dark Mode ?? ????? ????? */
body.dark-mode footer {
    border-top: 1px solid #444;
    color: #ccc;
}

footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
